@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
h3{
    margin-top: 80px;
}

.container_products,  .wrapper_cart, .searchContainer, .container_cart{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
}
.container_products .item, .wrapper_cart .item, .searchContainer .item ,.container_cart .item{
    background-color: #e8f5f8;
    width: 250px;
    border: 2px solid gray;
    border-radius: 20px;
    height: 300px;
    text-align: center;
}
.container_products .image, .wrapper_cart .image, .searchContainer .image, .container_cart image{
    background-image: url('./img/catalog/women/women1.png');
    height: 200px;
    background-size: cover;
    border-radius: 10px;
    background-size: cover;
}
.close{
    background: #fff;
    width: 40px;
    height: 40px;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
}
.container_products .image:hover, .searchContainer .image:hover, .container_cart .image:hover{
    background-position-y: center;
    transition: 0.8s;
    transform: scale(0.8);
}
.container_products i{
    position: relative;
    left: -15%;
    width: 19px;
    height: 20px;;
}

.searchContainer, .container_cart{
    display: none;
    background: #e8f5f8;
    border: 1px solid #556270;
    border-radius: 20px;
    position: absolute;
    z-index: 900;
    max-height: 100%;
    max-width: 100%;
    width: 100%;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
    top: 110px;
}
.last{
    position: absolute;
    top: -42px;
}
#sidebar{
    position: fixed;
    width: 250px;
    height: 100%;
    background-color: #57626F;
    border-right: 4px solid #E0E5EA;
    left: -245px;
    -moz-transition: all 600ms;
    -webkit-transition: all 600ms;
    transition: all 600ms;
    z-index: 1000;
    top: 78px;
}
#sidebar.active{
    left: 0px;
}

#sidebar ul{
    text-align: left;
}
#sidebar ul li:first-child{
    text-align: center;
    color: white;
    font-size: 1.95em;
    list-style: none;
    padding: 25px 10px 10px 10px;
}
#sidebar ul li:not(:first-child){
    width: 90%;
    margin-left: 10%;
    font-size: 1.1em;
    list-style: none;
    padding: 10px 10px;
}
#sidebar ul li button{
    color: #dfe5ed;
    border: none;
    background: none;
    outline: none;
    font-size: 17px;

}
#sidebar ul li button:hover{
    color: #59e9df;
}

#ul_catalog li ol{
    display: none;
}

#sidebar .toogle_btn{
    position: absolute;
    left: 255px;  
    background: #e0e5ea;
    padding: 8px;
    border-radius: 12px;
    cursor: pointer;
}
#sidebar .toogle_btn:hover{
    background: #556270;
}
#sidebar .toogle_btn:hover span{
    background: #fafafa;
}
#sidebar .toogle_btn span{
    display: block;
    width: 25px;
    height: 4px;
    background-color: #666;
    margin: 4px 0;
}
/* Добавить в корзину кнопка */
.btn, .close{
    background-color: none;
    border: 1px solid #3498db;
    border-radius: 20px;
    cursor: pointer;
    color: #3498db;
    transition: 1s;
    font-family: 'Poppins';
    position: relative;
    overflow: hidden;
    
}
.btn:hover, .close:hover{
    color: #106efa;
    transform: scale(1.1);
}
.btn::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0;
    background: #3498db;
    z-index: 0;
    transition: 1s;
    top: 0;
    opacity: 0.5;
    border-radius: 0 0 50% 50%;
}
.btn:hover::before{
height: 180%;    
}

.close::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0;
    background: #3498db;
    z-index: 0;
    transition: 1s;
    top: 0;
    opacity: 0.5;
    border-radius: 0 0 50% 50%;
}
.close:hover::before{
height: 180%;    
}
.close{
    border: 1px solid #3498db;
    width: 30px;   
    height: 30px;
    position: absolute;
}
@media(max-width:425px){
    /* #sidebar.active {
        left: 20px;
    }
    #sidebar ul {
        text-align: left;
        margin-left: 30px;
    } */
}
@media(max-width:320px){
    #sidebar ul li:not(:first-child){
        
        padding: 4px 10px;
    }
}
