.form_accaunt, .form_autorisation{    
    background: rgba(0,0,0,.2);
    max-width: 400px;
    margin: 0 auto;
    border-radius: 10px;
    text-align: center;
}
.form_accaunt:hover, .form_autorisation:hover{    
    background: rgba(0,0,0,.8);
    transition: .6s;
    
}
.form_accaunt:hover h4 , .form_accaunt:hover .input_form input[type="submit"],
.form_autorisation:hover h4 , .form_autorisation:hover .input_form input[type="submit"]{    
    color: #fff;
    transition: .6s;

}
.form_accaunt h4, .form_autorisation h4{
    margin: 30px 100px;
    padding: 0;
    color: #000;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 200;

}
.input_form{
    margin: 15px 40px;
    text-align: center;
}
.input_form input{
    padding: 10px;
    width: 100%;
    color: #fff;
    font-size: 18px;
    background: none;
    outline: none;
    border: 1px solid #fff;
    box-sizing: border-box;
    border-radius: 10px;

}
.input_form input[type="text"]:focus, .input_form input[type="password"]:focus{
    border: 1px solid #0fc3f5;
}
.input_form input[type="submit"]{
    margin-top: 20px;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    background: #0fc3f5;
    transition: .3s;
    font-weight: 200;

}
.input_form input[type="submit"]:hover{
    background: #4442db;
}
.form_accaunt a{
    display: inline-block;
    padding: 0 0 30px;
    text-align: center;
    color: #000;
    text-decoration: none;
    transition: 0.3s;
}
.form_accaunt a:hover{
    color: #0fc3f5;
}
.form_accaunt p{
    display: inline-block;
}

/* личный кабинет*/
.client_page{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    width: 550px;
    box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
}
.client_page .left{
    width: 35%;
    background: linear-gradient(to right, #01a9ac, #01dbdf);
    padding: 30px 25px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    color: #fff;
}
.client_page .left img{
    margin-bottom: 10px;
    border-radius: 5px;
}
.client_page .left h3{
    margin-bottom: 10px;
}
.client_page .left p{
    font-size: 12px;    
}
.client_page .right{
    width: 65%;
    background: #fff;
    padding: 0px 25px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: left;
}
.client_page .right .info,
.client_page .right .projects{
    margin-bottom: 25px;
}
.client_page .right .info h3,
.client_page .right .projects h3{
    margin-bottom: 10px;
    border-bottom: 1px solid #e0e0e0;
    color: #353c4e;
    text-transform: uppercase;
    letter-spacing: 5px;
}

/* авторизыция */
.form_autorisation{
   display:  none;
}

.input_form input[type="submit"] {
    margin-bottom: 20px;
}
